* {
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.myImage {
  width: 300px;
  height: 325px;
  border: 2px solid white;
  border-radius: 50%;
}

.about-me {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.contact-btn {
  background-color: #d4b966;
  font-weight: bold;
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #eebd2b;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.list-item {
  width: 20%;
  height: 60px;
  padding: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.list-item:hover {
  border-bottom: 2px solid white;
}

.description {
  padding: 20px;
  font-family: "Helvetica Neue";
  word-spacing: 1px;
  color: white;
}

.description > h4 {
  font-size: 20px;
}
@media (max-width: 600px) {
  .myImage {
    width: 255px;
    height: 275px;
  }
}
@media (max-width: 530px) {
  .myImage {
    margin-bottom: 25px;
    width: 205px;
    height: 225px;
  }

  .about-me {
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
}
@media (max-width: 478px) {
  .description {
    padding: 20px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    word-spacing: 1px;
    color: white;
  }
}
@media (max-width: 435px) {
  .description {
    padding: 20px;
    font-family: "Helvetica Neue";
    font-size: 12px;
    word-spacing: 1px;
    color: white;
  }
}

@media (min-width: 600px) {
  .myImage {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767.5px) {
  .contact-btn {
    margin: 5px 0px;
    background-color: #d4b966;
    padding: 0px 10px;
    font-weight: bold;
    border-radius: 15px;
    width: 110px;
  }
}
