body {
  background-color: #111;
}

.myImage {
  width: 300px;
  height: 325px;
  border: 2px solid white;
  border-radius: 50%;
}

.about-me {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.contact-btn {
  background-color: #d4b966;
  font-weight: bold;
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #eebd2b;
}

@media (max-width: 600px) {
  .myImage {
    width: 255px;
    height: 275px;
  }
}
@media (max-width: 530px) {
  .myImage {
    margin-bottom: 25px;
    width: 205px;
    height: 225px;
  }

  .about-me {
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .myImage {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767.5px) {
  .contact-btn {
    margin: 5px 0px;
    background-color: #d4b966;
    padding: 0px 10px;
    font-weight: bold;
    border-radius: 15px;
    width: 110px;
  }
}
